<div id="dialog-confirm" title="Vill du radera receptet?">
	<p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>Receptet raderas permanent.<br />Är du säker?</p>
</div>