@model Receptsamlingen.Mvc.Models.Partials.QuickSearchModel

<div class="box-wrapper">
	<div class="box-content">
		@using (Html.BeginForm("DoSearch", "Search", FormMethod.Post))
		{
			<div class="row">
				<div class="col-md-12 padding-bottom-10">
					@Html.TextBoxFor(model => model.Query, new { @class = "form-control", placeholder = "Sök..." })
				</div>
            </div>
            <div class="row">
				<div class="col-md-12">
					<input type="submit" value="Sök &raquo;" class="btn btn-warning width-100-percent" />
				</div>
			</div>
		}
	</div>
</div>