@model Receptsamlingen.Mvc.Models.Partials.RandomModel

<div class="box-wrapper">
	<div class="box-content">
		<div class="row">
            <div class="col-md-12">
                @using (Html.BeginForm("Randomize", "Random", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <input type="submit" value="Slumpa fram ett recept &raquo;" class="btn btn-warning width-100-percent" />
                }
            </div>
		</div>
	</div>
</div>