@model Receptsamlingen.Mvc.Models.Partials.RandomModel

<div class="box-wrapper">
	<div class="box-content">
		<div class="row">
			<div class="col-md-12">
				&raquo;&nbsp;@Html.ActionLink("Slumpa fram ett recept!", "Randomize", "Random")
			</div>
		</div>
	</div>
</div>