<?xml version="1.0" encoding="utf-8" ?>
<routes>
	<route>
		<name>Default</name>
		<url>start</url>
		<file>~/Default.aspx</file>
	</route>
	<route>
		<name>Apply</name>
		<url>ansok</url>
		<file>~/Pages/Apply.aspx</file>
	</route>
	<route>
		<name>Recipe</name>
		<url>recept</url>
		<file>~/Pages/Recipe.aspx</file>
	</route>
	<route>
		<name>Recipe-ID</name>
		<url>recept/{id}</url>
		<file>~/Pages/Recipe.aspx</file>
	</route>
	<route>
		<name>RecipeList</name>
		<url>receptlista</url>
		<file>~/Pages/RecipeList.aspx</file>
	</route>
	<route>
		<name>Search-query</name>
		<url>sok/{query}</url>
		<file>~/Pages/Search.aspx</file>
	</route>
	<route>
		<name>Search</name>
		<url>sok</url>
		<file>~/Pages/Search.aspx</file>
	</route>
	<route>
		<name>NotFound</name>
		<url>404</url>
		<file>~/NotFound.aspx</file>
	</route>
	<route>
		<name>Error</name>
		<url>fel</url>
		<file>~/Error.aspx</file>
	</route>
</routes>