<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
	</configSections>
	<log4net debug="true">
		<appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
			<file value="logfile"/>
			<appendToFile value="true"/>
			<rollingStyle value="Date"/>
			<datePattern value="yyyyMMdd"/>
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline"/>
			</layout>
		</appender>
		<root>
			<level value="ERROR"/>
			<appender-ref ref="RollingFile"/>
		</root>
	</log4net>
	<appSettings>
		<add key="MailSubject" value="Ansökan om konto"/>
		<add key="MailReceiver" value="p.liljecrantz@live.com"/>
		<add key="MailServer" value="smtp.live.com"/>
	</appSettings>
	<connectionStrings>
		<!--<add name="connectionString" connectionString="Server=mssql04.citynetwork.se;Database=103421-recipetest;User Id=103421-hq45293;Password=FcukUPwdAxx666;"/>-->
		<add name="connectionString" connectionString="Server=mssql04.citynetwork.se;Database=103421-recipe;User Id=103421-ib28016;Password=FcukUPwdAxx666;"/>
	</connectionStrings>
	<system.web>
		<pages enableSessionState="true" clientIDMode="Static" controlRenderingCompatibilityVersion="4.0"/>
		<sessionState mode="InProc" timeout="20"/>
		<compilation debug="true" targetFramework="4.5"/>
		<customErrors mode="On" redirectMode="ResponseRedirect">
			<error statusCode="404" redirect="~/404?error=404"/>
			<error statusCode="500" redirect="~/fel?error=500"/>
		</customErrors>
		<authentication mode="Windows"/>
	</system.web>
	<system.webServer>
		<modules>
			<remove name="Session" />
			<add name="Session" type="System.Web.SessionState.SessionStateModule"/>
		</modules>
		<httpErrors errorMode="Custom" defaultResponseMode="ExecuteURL" existingResponse="PassThrough">
			<remove statusCode="404" subStatusCode="-1"/>
			<remove statusCode="500" subStatusCode="-1"/>
			<error statusCode="404" path="~/404?error=404"/>
			<error statusCode="500" path="~/fel?error=500"/>
		</httpErrors>
	</system.webServer>
</configuration>