@using Receptsamlingen.Mvc.Classes
@model Receptsamlingen.Mvc.Models.LoginModel

<div class="BoxWrapper">
    <div class="BoxContent">
        @if (SessionHandler.User == null)
        {
            using(Html.BeginForm("DoLogin", "Login", FormMethod.Post))
            {
                <label class="UnitText">Användarnamn:</label>
                <br/>
                @Html.TextBoxFor(model => model.Username, new { @class="LoginTextBox" })
                <br />
                <label class="UnitText">Lösenord:</label>
                <br />
                @Html.PasswordFor(model => model.Password, new { @class="LoginTextBox" })
                <input type="submit" value="Logga in" />
            @*<asp:ImageButton ID="loginImageButton" runat="server" ImageUrl="~/Images/round_orange_arrow_right.png" ImageAlign="Top" />*@
                <br />
                
                if (Model.LoggedIn != null && (bool)!Model.LoggedIn)
                {
                    <label class="ErrorText">Fel användaruppgifter.</label>
                }
            }
        }
        else
        {
            <label class="UnitText">
                Du är inloggad som @if (SessionHandler.User != null)
                                   {
                                       @SessionHandler.User.UserName
                                   }
            </label>
            <br />
            @Html.ActionLink("Logga ut", "DoLogout", "Login", null, new { @class = "UnitText" });
        }
    </div>
</div>