@model Receptsamlingen.Mvc.Models.ListModel

<h1>Alla recept</h1>
<ul>
    @foreach (var r in Model.Recipes)
    {
	    <li>
			<span class="recipe-list">&rsaquo;&rsaquo;&nbsp;@Html.ActionLink(r.Name, "id", "recipe", new { id = r.Id }, new { @class = "Text" })</span>
	    </li>
    }
</ul>